@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sample-modal__enter {
  opacity: 1;
  transition: all 0.5s;
  filter: blur(0);
}

.sample-modal__exit {
  opacity: 0;
  transition: all 0.5s;
  filter: blur(1rem);
}

.sample-modal,
.sample-modal__exit .sample-modal {
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s;
  filter: blur(1rem);
}

.sample-modal__enter .sample-modal {
  transform: scale(1);
  opacity: 1;
  filter: blur(0);
}
