.react-modal__container {
  overflow-x: auto;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: auto;
  height: auto;
}

.react-modal__container.center-mode {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.react-modal__container > div {
  display: contents;
}
