.react-modal__container {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
